<!--Testimonials v1-->
<div class="margin-bottom-40">
    <div id="testimonials-1" class="carousel slide testimonials testimonials-v1">
        <div class="carousel-inner">
            <div class="item active">
                <p>Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..</p>
                <div class="testimonial-info">
                    <img class="rounded-x" src="/assets/img/testimonials/img1.jpg" alt="">
                                    <span class="testimonial-author">
                                        Jeremy Asigner
                                        <em>Web Developer, Unify Theme.</em>
                                    </span>
                </div>
            </div>
            <div class="item">
                <p>Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..</p>
                <div class="testimonial-info">
                    <img class="rounded-x" src="/assets/img/testimonials/user.jpg" alt="">
                                    <span class="testimonial-author">
                                        User
                                        <em>Java Developer, Htmlstream</em>
                                    </span>
                </div>
            </div>
            <div class="item">
                <p>Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..</p>
                <div class="testimonial-info">
                    <img class="rounded-x" src="/assets/img/testimonials/img2.jpg" alt="">
                                    <span class="testimonial-author">
                                        Kate Davenport
                                        <em>Web Designer, Google Inc.</em>
                                    </span>
                </div>
            </div>
        </div>

        <div class="carousel-arrow">
            <a class="left carousel-control" href="#testimonials-1" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="right carousel-control" href="#testimonials-1" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery('.carousel').carousel({
        interval: 15000,
        pause: 'hover'
    });
</script>