<style type="text/css">
    .no-background {
        background: transparent;
    }
    .no-background h1, .no-background h3 {
        color: #efefef;
    }
    .no-background {
        width: 300px;
        position: absolute;
        margin-left: -300px;
        z-index: 999;
    }
</style>
<div class="pull-right">
    <div class="pull-right visible-md visible-lg">
        <div class="no-background col-md-12 text-center">
            <br/>
            <br/>
            <select class="form-control">
                <option>Auto</option>
                <option>Homeowner</option>
                <option>Condo</option>
                <option>Renters</option>
                <option>Motorcycle</option>
                <option>Life</option>
                <option>Other...</option>
            </select>
            <br/>
            <button type="button" class="btn btn-success btn-block">Start My Quote >></button>
        </div>
    </div>
</div>

