<div class="header">
    <div class="topbar text-center hidden-xs">
        <div class="container">
            <div class="col-sm-4 text-left">
                <a class="navbar-brand" href="/" style="height: 75px; overflow: hidden; position:absolute;">
                    <img id="logo-header" src="assets/img/logo.png" alt="Logo">
                </a>
            </div>
            <div class="col-sm-4">
                <ul class="loginbar">
                    <li>
                        <small>
                            93 N. Main Street, Ste B,<br> Porterville, CA 93257
                        </small>
                        <br/>
                        <b>
                            Porterville's Insurance Agency
                        </b>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4 text-right">
                <!-- Topbar Navigation -->
                <ul class="loginbar">
                    <li>
                        <br/>
                        <b>559.782.0005</b><br>
                        09:30 AM - 05:30 PM / M-F
                    </li>
                </ul>
                <!-- End Topbar Navigation -->
            </div>
        </div>
    </div>

    <!-- Navbar -->
    <div class="navbar navbar-default mega-menu" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
                <a class="navbar-brand visible-xs pull-left" href="/" style="height: 75px; overflow: hidden;">
                    <img id="logo-header" src="assets/img/logo.png" alt="Logo">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">

                    <!-- Pages -->
                    <li class="visible-xs">
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            Insurance Products
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            Service Center
                        </a>
                    </li>
                    <!-- End Pages -->

                    <!-- Portfolio -->
                    <li>
                        <a href="javascript:void(0);">
                            Income Tax
                        </a>
                    </li>
                    <!-- Ens Portfolio -->

                    <!-- Blog -->
                    <li>
                        <a href="javascript:void(0);">
                            Notary Services
                        </a>
                    </li>
                    <!-- End Blog -->

                    <!-- About -->
                    <li>
                        <a href="/about">
                            About Us
                        </a>
                    </li>
                    <!-- End About -->

                    <!-- Contact -->
                    <li>
                        <a href="/contact">
                            Contact
                        </a>
                    </li>
                    <!-- End Contact -->
                </ul>
            </div><!--/navbar-collapse-->
        </div>
    </div>
    <!-- End Navbar -->
</div>