<style type="text/css">
    .header {
        background-color: #3a3a3a;
    }
    .header ul.loginbar {
        padding: 0;
        margin: 0;
    }
    .header ul.loginbar li b {
        color: #FFFFD6;
    }
</style>


<div class="header">
    <div class="topbar text-center hidden-xs" style="padding-top: 20px;">
        <div class="container">
            <div class="col-sm-4 col-md-4 col-lg-6 text-left">
                <a class="navbar-brand" href="/" style="height: 75px; overflow: hidden; position:absolute; top: 0px;">
                    <img id="logo-header" src="/assets/img/logo.png" alt="Logo">
                </a>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-3 text-right">
                <ul class="loginbar">
                    <li style="line-height: 16px;">
                        <b style="font-size: 18px;">93 N. Main Street, Ste B,</b><br>
                        Porterville, CA 93257
                    </li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-3 text-right">
                <!-- Topbar Navigation -->
                <ul class="loginbar">
                    <li style="line-height: 16px;">
                        <b style="font-size: 18px;">tel: +1 (559) 782-0005</b><br>
                        09:30 AM - 05:30 PM /
                        <span class="hidden-sm">Mon - Fri</span>
                        <span class="visible-sm-inline">M-F</span>
                    </li>
                </ul>
                <!-- End Topbar Navigation -->
            </div>
        </div>
    </div>
    <div class="text-center hidden-xs hidden-sm">
        <h3 style="color: #FFFFF9;">Porterville's Insurance Agency</h3>
    </div>

    <!-- Navbar -->
    <div class="navbar navbar-default mega-menu" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
                <a class="navbar-brand visible-xs pull-left" href="/" style="height: 75px; overflow: hidden;">
                    <img id="logo-header" src="assets/img/logo.png" alt="Logo">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">

                    <!-- Pages -->
                    <li class="visible-xs">
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/insurance-products">
                            Insurance Products
                        </a>
                    </li>
                    <li>
                        <a href="/service-center">
                            Service Center
                        </a>
                    </li>
                    <!-- End Pages -->

                    <!-- Portfolio -->
                    <li>
                        <a href="/income-tax">
                            Income Tax
                        </a>
                    </li>
                    <!-- Ens Portfolio -->

                    <!-- Blog -->
                    <li>
                        <a href="/notary-services">
                            Notary Services
                        </a>
                    </li>
                    <!-- End Blog -->

                    <!-- About -->
                    <li>
                        <a href="/about">
                            About Us
                        </a>
                    </li>
                    <!-- End About -->

                    <!-- Contact -->
                    <li>
                        <a href="/contact">
                            Contact
                        </a>
                    </li>
                    <!-- End Contact -->
                </ul>
            </div><!--/navbar-collapse-->
        </div>
    </div>
    <!-- End Navbar -->
</div>