<div class="row">
    <div class="col-md-6">
        <div class="service">
            <i class="fa fa-umbrella service-icon"></i>
            <div class="desc">
                <h2>PERSONAL INSURANCE</h2>
                <p>Whether it’s insurance coverage for your Auto, Home, RV, Motorcycle, or Office; Fernandez Insurance Agency with find the right coverage to fit your needs.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="service">
            <i class="fa fa-heart service-icon"></i>
            <div class="desc">
                <h2>LIFE INSURANCE</h2>
                <p>Protect the future of your loved ones by having life insurance policy in place. Whether it’s a term or permanent insurance, Fernandez Insurance will find you the right coverage.</p>
            </div>
        </div>
    </div>
</div>
<div class="row margin-bottom-30">
    <div class="col-md-6">
        <div class="service">
            <i class="fa fa-car service-icon"></i>
            <div class="desc">
                <h2>AUTO INSURANCE</h2>
                <p>Fernandez Insurance represents over a dozen insurance companies so rest assured we will find the company that best meets your coverage needs.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="service">
            <i class="fa fa-fax service-icon"></i>
            <div class="desc">
                <h2>VEHICLE REGISTRATION</h2>
                <p>Vehicle Registration and Title transfer services will soon be available at Fernandez Insurance Agency.</p>
            </div>
        </div>
    </div>
</div>