<div class="service">
    <i class="service-icon" style="background: url('/assets/img/movie-tickets.gif') no-repeat; width: 60px; height: 51px;"></i>
    <div class="desc">
        <h4>Free Tickets!</h4>
        <p>Receive a Gift Card! Refer a friend to Fernandez Insurance Agency and we will send you a movie ticket. Please call or visit us for details.</p>
    </div>
</div>