<div class="row">
    <div class="col-md-8">
        <div class="headline">
            <h2>Fernandez Insurance Agency Service Center</h2>
        </div>
        <p>We at Integra Insurance Group take pride in having exceptional customer service.
            We're always happy to help you with any of your policy needs,
            but also offer many options for obtaining the information you need online.
            If you can't find what you're looking for or need assistance with a special request,
            please contact one of our helpful agents.</p>
    </div>
    <div class="col-md-4">
        <div class="service-block service-block-default">
            <i class="fa-3x fa fa-info-circle"></i>
            <h4 class="heading-md">WE ARE HERE TO HELP</h4>
            <h2>559.782.0005</h2>
            <p><a href="#">someone@fia-online.com</a> </p>
        </div>
    </div>
</div>