<% var headingOne = heading1 || null; %>
<style>
    .heading.heading-v6 {
        position: relative;
        width: 100%;
        margin-top: -50px;
    }
    .heading.heading-v6 h2 {
        color: #fff;
        font-size: 28px;
        text-shadow: 2px 2px 4px #000;
    }
</style>
<div class="heading heading-v6">
    <h2>
        <%= headingOne %>
    </h2>
</div>