<!doctype html>
<html>
<head>
    <title></title>
    <% include ../components/head %>
    <script type="text/javascript" src="/assets/plugins/jquery/jquery.min.js"></script>
</head>
<body>
<div class="wrapper"><!-- style="background: url('/assets/img/charcoalBG.jpg') repeat "-->
    <% include ../components/header %>

    <div class="container margin-bottom-50">
        <div class="headline">
            <h2>Forms:</h2>
        </div>
        <% include agent-of-record %>

    </div>
</div>
<% include ../components/footer %>
<!-- JS Global Compulsory -->

<script type="text/javascript" src="/assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/owl-carousel.js"></script>
</body>
</html>
