<!Doctype html>
<html>
<head>
    <title></title>
    <% include ./components/head %>
    <script type="text/javascript" src="/assets/plugins/jquery/jquery.min.js"></script>
</head>
<body>
<div class="wrapper"><!-- style="background: url('/assets/img/charcoalBG.jpg') repeat "-->
    <% include ./components/header %>

    <div class="container margin-bottom-50">
        <div class="row  margin-bottom-50">
            <div class="col-md-9">
                <div class="headline"><h2>Fernandez Insurance Agency</h2></div>
                <p>Located in Peoria, Integra Insurance Group is one of Arizona’s leading independent insurance agencies.
                    For years, many families have placed their trust in the agents at Integra for reliable insurance service.
                    It’s comforting to know that the years of knowledge and experience that the agents and staff share are
                    watching over your best interests.</p>
                <h3>What is an Independent Agent?</h3>
                <p>As Independent agents, we offer many benefits to your family. For example, by offering multiple insurance
                    companies, we can guarantee that we will always have the most competitive rates on your insurance premiums.
                    In addition, you’ll never have to shop for your auto and home insurance again, because we do the shopping for you.
                </p>
                <p>Furthermore, we work tirelessly to provide our clients with the best service at all times. Since we work
                    for you and not the insurance companies, you can rest assured that we will always place your best
                    interests first when finding the best insurance rates and companies for your family’s needs.
                </p>

            </div>
            <div class="col-md-3">

            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="heading heading-v4 margin-bottom-40">
                    <h2>What our clients are saying about us.</h2>
                    <% include ./Components/about-testimonials %>
                </div>
            </div>
        </div>

    </div>
</div>
<% include ./components/footer %>
<!-- JS Global Compulsory -->

<script type="text/javascript" src="/assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>


