<!Doctype html>
<html>
<head>
    <title></title>
    <% include ./components/head %>
    <script type="text/javascript" src="/assets/plugins/jquery/jquery.min.js"></script>
</head>
<body>
<div class="wrapper"><!-- style="background: url('/assets/img/charcoalBG.jpg') repeat "-->
    <% include ./components/header %>

    <div class="breadcrumbs-v2 faq-breadcrumb margin-bottom-20" style="background: url(http://htmlstream.com/preview/unify-v1.9.5/assets/img/bg/19.jpg)">
        <div class="breadcrumbs-v2-in">
            <h1>Frequently Asked Questions</h1>
            <ul class="breadcrumb-v2 list-inline">
                <li><a href="index.html"><i class="rounded-x fa fa-angle-right"></i>Home</a></li>
                <li><a href=""><i class="rounded-x fa fa-angle-right"></i>Page</a></li>
                <li class="active"><i class="rounded-x fa fa-angle-right"></i>F.A.Q</li>
            </ul>
        </div>
    </div>
    <div class="container margin-bottom-50">
        <div class="row equal-height-columns margin-bottom-40">
            <div class="col-sm-4">
                <div class="easy-block-v3 service-or equal-height-column" style="height: 160px;">
                    <div class="service-bg"></div>
                    <i class="icon-badge"></i>
                    <div class="inner-faq-b">
                        <h3>What is Unify Template?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus justo vel tincidunt consectetur.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="easy-block-v3 service-or equal-height-column" style="height: 160px;">
                    <div class="service-bg"></div>
                    <i class="icon-directions"></i>
                    <div class="inner-faq-b">
                        <h3>How to Update Unify?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus justo vel tincidunt consectetur.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="easy-block-v3 service-or equal-height-column" style="height: 160px;">
                    <div class="service-bg"></div>
                    <i class="icon-layers"></i>
                    <div class="inner-faq-b">
                        <h3>The Features of Unify?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus justo vel tincidunt consectetur.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group acc-v1" id="accordion-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One" aria-expanded="false">
                            General Questions
                        </a>
                    </h4>
                </div>
                <div id="collapse-One" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">

                        <div class="panel-group acc-v1" id="accordion-2">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-2" href="#collapse2-One" aria-expanded="false">
                                            Collapsible Group Item #1
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse2-One" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <img class="img-responsive" src="assets/img/main/img12.jpg" alt="">
                                            </div>
                                            <div class="col-md-8">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-2" href="#collapse2-Two" aria-expanded="false">
                                            Collapsible Group Item #2
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse2-Two" class="panel-collapse collapse" aria-expanded="false">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                                                <ul class="list-unstyled">
                                                    <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>
                                                    <li><i class="fa fa-check color-green"></i> Fusce dapibus, tellus ac cursus comodo egetine..</li>
                                                    <li><i class="fa fa-check color-green"></i> Food truck quinoa nesciunt laborum eiusmod runch..</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4">
                                                <img class="img-responsive" src="assets/img/main/img9.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Two" aria-expanded="false">
                            Auto
                        </a>
                    </h4>
                </div>
                <div id="collapse-Two" class="panel-collapse collapse" aria-expanded="false">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-8">
                                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>
                                    <li><i class="fa fa-check color-green"></i> Fusce dapibus, tellus ac cursus comodo egetine..</li>
                                    <li><i class="fa fa-check color-green"></i> Food truck quinoa nesciunt laborum eiusmod runch..</li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <img class="img-responsive" src="assets/img/main/img9.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Three" aria-expanded="false">
                            Homeowner
                        </a>
                    </h4>
                </div>
                <div id="collapse-Three" class="panel-collapse collapse" aria-expanded="false">
                    <div class="panel-body">
                        Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Food truck quinoa nesciunt laborum eiusmodolf moon tempor, sunt aliqua put a bird. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Four" aria-expanded="false">
                            Life
                        </a>
                    </h4>
                </div>
                <div id="collapse-Four" class="panel-collapse collapse" aria-expanded="false">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Five" aria-expanded="false">
                           Renters
                        </a>
                    </h4>
                </div>
                <div id="collapse-Five" class="panel-collapse collapse" aria-expanded="false">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Six" aria-expanded="false">
                            Unbrella
                        </a>
                    </h4>
                </div>
                <div id="collapse-Six" class="panel-collapse collapse" aria-expanded="false">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ./components/footer %>
<!-- JS Global Compulsory -->

<script type="text/javascript" src="/assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/owl-carousel.js"></script>
</body>
</html>
