<!Doctype html>
<html>
<head>
    <title></title>
    <% include ./components/head %>
    <script type="text/javascript" src="/assets/plugins/jquery/jquery.min.js"></script>
</head>
<body>
<div class="wrapper"><!-- style="background: url('/assets/img/charcoalBG.jpg') repeat "-->
    <% include ./components/header %>

    <div class="container margin-bottom-50">


        <div class="row margin-bottom-50 margin-top-20">
            <div class="col-md-8 col-md-offset-2">
                <h1>Four Oh Four (404): Page was not found.</h1>
                <h2>How may we help you?</h2>
                <input placeholder="Search..." class="form-control">
            </div>
        </div>

        <div class="hidden-xs">
            <% include ./components/slider-right-pane %>
            <% include ./components/slider-carousel %>
        </div>

    </div>
</div>
<% include ./components/footer %>
<!-- JS Global Compulsory -->

<script type="text/javascript" src="/assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/owl-carousel.js"></script>
</body>
</html>
