<!Doctype html>
<html>
<head>
    <title></title>
    <% include ./components/head %>
    <script type="text/javascript" src="/assets/plugins/jquery/jquery.min.js"></script>

</head>
<body>
<div class="wrapper">
    <% include ./components/header %>

    <div class="container margin-bottom-50">

        <% include ./components/block-subheading %>
        <img src="/assets/img/banner-tax-notary.jpg" style="width: 100%;" class="visible-md visible-lg"/>

        <% var heading1 = 'Notary Services' %>
        <% var height1 = -65; %>
        <% include ./components/mixin-heading-1 %>

        <br/>
        <br/>
        <div class="row">
            <div class="col-md-8 shadow-wrapper">
                <div class="headline">
                    <h2>What is a Notary?</h2>
                </div>
                <p>A Notary Public is a person of proven integrity commissioned (licensed) by the Secretary of State to identify signers, certify the authenticity of  signatures (match signature to identification) on legal documents, administer oaths/affirmations, and perform other official administrative duties authorized by law. </p>
                <div class="headline">
                    <h2>Why are documents notarized?</h2>
                </div>
                <p>Documents are notarized to help detect and deter fraud. By properly identifying a document signer by using acceptable identification and comparing the signature on the document to the signature on the identification presented, this process helps to ensure proper execution of the documents to confirm they are signed correctly. It is the responsibility of the commissioned (licensed) notary public to make sure that the signer is knowingly and willing able to sign the document requiring notarization, and has personally appeared before the notary. The signer must also produce proper identification.</p>
            </div>
            <div class="col-md-4 shadow-wrapper">
                <div class="headline">
                    <h2>
                        Required Identification
                    </h2>
                </div>
                <ul class="list" >
                    <li>An Identification card or driver's license issued by the California Department of Motor Vehicles</li>
                    <li>United States Passport</li>
                    <li>Other California-approved identification card</li>

                </ul>
            </div>
        </div>

        <hr class="devider">

        <div class="row">
            <div class="col-md-12">
                <h3>Documents</h3>
                <div class="row">
                    <div class="col-md-6">
                        <p><a href="#"> Notary Jurat </a></p>
                        <p><a href="#">Minor Travel Forms</a> </p>
                        <p><a href="#">California All Purpose Acknowledgement</a> </p>
                    </div>
                    <div class="col-md-6">
                        <p><a href="#">Temporary Guardianship Agreement</a> </p>
                        <p><a href="#">Power Of Attorney</a> </p>
                        <p><a href="#">Quitclaim Deed</a> </p>
                        <p><a href="#">Written consent for minor visitation</a> </p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<% include ./components/footer %>
<!-- JS Global Compulsory -->

<script type="text/javascript" src="/assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>


