<!Doctype html>
<html>
<head>
    <title></title>
    <% include ./components/head %>
    <script type="text/javascript" src="/assets/plugins/jquery/jquery.min.js"></script>

</head>
<body>
<div class="wrapper">
    <% include ./components/header %>

    <div class="container margin-bottom-50">

        <% include ./components/block-subheading %>
        <img src="/assets/img/banner-products2.jpg" style="width: 100%;" class="visible-md visible-lg"/>

        <% var heading1 = 'Insurance Products' %>
        <% include ./components/mixin-heading-1 %>

        <div class="row" style="margin: 15px">
            <div class="col-md-6 shadow-wrapper">
                <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                    <h2>Personal Insurance</h2>
                    <p>Our clients’ insurance needs are consistently our number #1 priority. When you work with the friendly staff at Integra Insurance Group, you have an entire company of professionals to assist with your ever changing needs.</p>
                </div>
                <div class="visible-sm visible-xs">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-caret-right color-green"></i> Auto Insurance</li>
                                <li><i class="fa fa-caret-right color-green"></i> Collectible Car Insurance</li>
                                <li><i class="fa fa-caret-right color-green"></i> Motorcycle Insurance</li>
                                <li><i class="fa fa-caret-right color-green"></i> ATV Insurance</li>
                                <li><i class="fa fa-caret-right color-green"></i> RV Insurance</li>
                                <li><i class="fa fa-caret-right color-green"></i> Boat Insurance</li>
                                <li><i class="fa fa-caret-right color-green"></i> Umbrella Insurance</li>
                                <li><i class="fa fa-caret-right color-green"></i> Homeowner Insurance</li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-caret-right color-green"></i> Condo Insurance</li>
                                <li><i class="fa fa-caret-right color-green"></i> Renters Insurance</li>
                                <li><i class="fa fa-caret-right color-green"></i> Flood Insurance</li>
                                <li><i class="fa fa-caret-right color-green"></i> Landlord Insurance</li>
                                <li><i class="fa fa-caret-right color-green"></i> Life Insurance</li>
                                <li><i class="fa fa-caret-right color-green"></i> BHealth Insurance</li>
                                <li><i class="fa fa-caret-right color-green"></i> Umbrella Insurance</li>
                                <li><i class="fa fa-caret-right color-green"></i> Earthquake Insurance</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 shadow-wrapper">
                <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                    <h2>Business Insurance</h2>
                    <p>No matter what the business or the risk, our agents will work tirelessly to find the right policy for you. With our vast commercial insurance experience and expertise, you will know your business insurance needs are in the right hands.</p>
                </div>
                <div class="visible-sm visible-xs">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-caret-right color-green"></i> Business Insurance</li>
                                <li><i class="fa fa-caret-right color-green"></i> Auto Insurance</li>
                                <li><i class="fa fa-caret-right color-green"></i> Liability Insurance</li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-caret-right color-green"></i> Property Insurance</li>
                                <li><i class="fa fa-caret-right color-green"></i> Workers' Comp</li>
                                <li><i class="fa fa-caret-right color-green"></i> Bonds</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="clear: both;" />
            <div class="col-md-12 visible-md visible-lg">
                <div class="row">
                    <div class="col-md-3">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-caret-right color-green"></i> Auto Insurance</li>
                            <li><i class="fa fa-caret-right color-green"></i> Collectible Car Insurance</li>
                            <li><i class="fa fa-caret-right color-green"></i> Motorcycle Insurance</li>
                            <li><i class="fa fa-caret-right color-green"></i> ATV Insurance</li>
                            <li><i class="fa fa-caret-right color-green"></i> RV Insurance</li>
                            <li><i class="fa fa-caret-right color-green"></i> Boat Insurance</li>
                            <li><i class="fa fa-caret-right color-green"></i> Umbrella Insurance</li>
                            <li><i class="fa fa-caret-right color-green"></i> Homeowner Insurance</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-caret-right color-green"></i> Condo Insurance</li>
                            <li><i class="fa fa-caret-right color-green"></i> Renters Insurance</li>
                            <li><i class="fa fa-caret-right color-green"></i> Flood Insurance</li>
                            <li><i class="fa fa-caret-right color-green"></i> Landlord Insurance</li>
                            <li><i class="fa fa-caret-right color-green"></i> Life Insurance</li>
                            <li><i class="fa fa-caret-right color-green"></i> BHealth Insurance</li>
                            <li><i class="fa fa-caret-right color-green"></i> Umbrella Insurance</li>
                            <li><i class="fa fa-caret-right color-green"></i> Earthquake Insurance</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-caret-right color-green"></i> Business Insurance</li>
                            <li><i class="fa fa-caret-right color-green"></i> Auto Insurance</li>
                            <li><i class="fa fa-caret-right color-green"></i> Liability Insurance</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-caret-right color-green"></i> Property Insurance</li>
                            <li><i class="fa fa-caret-right color-green"></i> Workers' Comp</li>
                            <li><i class="fa fa-caret-right color-green"></i> Bonds</li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr style="clear: both;" />
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <button style="float: right;" class="btn-u btn-u-lg btn-u-green rounded-4x">
                            <h3 style="margin: 0 5px -8px; color: #FFF;">AUTO</h3>
                            <small>INSURANCE QUOTE</small>
                        </button>
                        <div class="desc">
                            <h4>Auto Insurance</h4>
                            <p>We’re experts at finding hidden auto insurance discounts to save you money.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <button style="float: right;" class="btn-u btn-u-lg btn-u-green rounded-4x">
                            <h3 style="margin: 0 5px -8px; color: #FFF;">BUSINESS</h3>
                            <small>INSURANCE QUOTE</small>
                        </button>
                        <div class="desc">
                            <h4 >Business Insurance</h4>
                            <p>We’ll help you protect your business, your employees, and your investment.</p>
                        </div>
                    </div>
                </div>
            </div>
            <% include ./components/incentive %>
        </div>
    </div>
</div>
<% include ./components/footer %>
<!-- JS Global Compulsory -->

<script type="text/javascript" src="/assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>


