<!Doctype html>
<html>
<head>
    <title></title>
    <% include ../components/head %>
    <script type="text/javascript" src="/assets/plugins/jquery/jquery.min.js"></script>

</head>
<body>
<div class="wrapper">
    <% include ../components/header %>

    <div class="container margin-bottom-50">

        <% include ../components/block-subheading %>
        <img src="/assets/img/banner-services.jpg" style="width: 100%;" class="visible-md visible-lg" />

        <% var heading1 = 'Claims' %>
		<% var height1 = -75 %>
        <% include ../components/mixin-heading-1 %>

        <br/>
        <br/>
        <div class="row">
        	<div class="col-md-8">
        		<div class="headline">
		        	<h2>File A Claim</h2>
		        </div>
		        <p>To file a new claim or check on an existing claim, please contact your insurance company directly using the phone number displayed below. If you are having trouble reaching the company, or if there is not a phone number listed for your company, please contact us directly.</p>
			<p></p>To see more information about a company, click on its name. Some of the companies we represent offer online claims service. Use the link in the Online Claims column below to go to your company's online claims center.</p>
		        
		        <h3>Insurance Companies</h3>
		        <div class="tab-v2">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#personal" data-toggle="tab" aria-expanded="true">Personal</a></li>
					<li class=""><a href="#commercial" data-toggle="tab" aria-expanded="false">Commercial</a></li>
					<li class=""><a href="#health" data-toggle="tab" aria-expanded="false">Life &amp; Health</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane fade active in" id="personal">
					        <table class="table table-striped">
							<thead>
								<tr>
									<th>Company</th>
									<th>Phone</th>
									<th class="hidden-sm">Online Claims</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><a href="insurance-company-information">Progressive</a></td>
									<td>800-274-4499</td>
									<td class="hidden-sm">
									    <a href="http://www.progressiveagent.com/claims/claims.aspx">www.progressiveagent.com</a>
									</td>
								</tr>
								<tr>
									<td><a href="insurance-company-information">Safeco</a></td>
									<td>800-332-3226</td>
									<td class="hidden-sm">
									    <a href="http://www.safeco.com/insurance-claims/get-started">www.safeco.com</a>
									</td>
								</tr>
							</tbody>
						</table>		
					</div>
					<div class="tab-pane fade" id="commercial">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Company</th>
									<th>Phone</th>
									<th class="hidden-sm">Online Claims</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><a href="insurance-company-information">Progressive</a></td>
									<td>800-274-4499</td>
									<td class="hidden-sm">
										<a href="http://www.progressiveagent.com/claims/claims.aspx">www.progressiveagent.com</a>
									</td>
								</tr>
								<tr>
									<td><a href="insurance-company-information">Safeco</a></td>
									<td>800-332-3226</td>
									<td class="hidden-sm">
										<a href="http://www.safeco.com/insurance-claims/get-started">www.safeco.com</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="tab-pane fade" id="health">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Company</th>
									<th>Phone</th>
									<th class="hidden-sm">Online Claims</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><a href="insurance-company-information">Progressive</a></td>
									<td>800-274-4499</td>
									<td class="hidden-sm">
										<a href="http://www.progressiveagent.com/claims/claims.aspx">www.progressiveagent.com</a>
									</td>
								</tr>
								<tr>
									<td><a href="insurance-company-information">Safeco</a></td>
									<td>800-332-3226</td>
									<td class="hidden-sm">
										<a href="http://www.safeco.com/insurance-claims/get-started">www.safeco.com</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>		
        	</div>
        	<div class="col-md-4">
        		
        	</div>
        </div>
    </div>
</div>
<% include ../components/footer %>
<!-- JS Global Compulsory -->

<script type="text/javascript" src="/assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>


